*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  html, body{
    height: 100%;
  }
  
  .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger-menu {
    display: flex;
    border-radius: 5px;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
  }
  
  #checkbox-menu{
    position: absolute;
    opacity: 0;
  }
  
  label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 31px;
    width: 40px;
    padding: 5px;
  }
  
  label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 30px;
    border-radius: 30px;
    background: #f16234;
    transition: 0.25s ease-in-out;
  }
  
  label span:nth-child(1){
    top: 5px;
  }
  
  label span:nth-child(2){
    top: 13px;
  }
  
  label span:nth-child(3){
    top: 21px;
  }
  
  #checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 13px;
  }
  
  #checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
  }
  
  #checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 13px;
  }